@import "./mixins";

.btn {
  border: none;
  font-weight: bold;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  height: 60px;
  @include center-flex();
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  @media #{$mwsm} {
    height: 30px;
  }
}

.btn-login {
  background: #f3f0ec;
  color: $thirdColor;
  &:hover,
  &:focus {
    background: $secondColor;
    color: white;
  }
}

.btn-sign-up,
.btn--gold {
  background: $mainColor;
  color: white;
  &:hover,
  &:focus {
    background: #ebb754;
  }
}

.btn--gold {
  height: 45px;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  font-size: 16px;
}

.btn-delete {
  background-color: $secondColor;
  color: white;
  border-radius: 5px;
  &:hover,
  &:focus {
    opacity: 0.9;
  }
}
